############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
._.DS_Store

composer.lock
/.idea/*
/target/*.war
/target/hello-spring/*
/target/maven-archiver/*
/target/maven-status/*
/target/classes/*
